body {
    font-family: Arial;
    padding: 20px;
    background-color: #f0f8ff;
}
h2 {
    text-align: center;
}
table {
    margin: auto;
    border-collapse: collapse;
    background: white;
}
th, td {
    padding: 10px;
    border: 1px solid #ccc;
}
th {
    background: #222;
    color: white;
}
a {
    display: block;
    text-align: center;
    margin-top: 20px;
}
